.container.cover.vertical-center
  .col-xs-12
  %h1 You're Invited
  .row
  .col-xs-6
  %h1 RSVP
  %p A Sample RSVP Application
  = link_to 'RSVP', new_attendee_path
  = link_to 'Guest List', attendees_path

  -# %button= link_to 'RSVP', new_attendee_path
  -# %button= link_to 'Guest List', attendees_path
