.container.vertical-center
  %h1 Guest List

  %table.center-table
    %thead
      %tr
        %th First
        %th Last
        %th
        %th
        %th

    %tbody
      - @attendees.each do |attendee|
        %tr
          %td= attendee.first_name
          %td= attendee.last_name
          -# %td= link_to 'Show', attendee
          -# %td= link_to 'Edit', edit_attendee_path(attendee)
          -# %td= link_to 'Destroy', attendee, :method => :delete, :data => { :confirm => 'Are you sure?' }
  %br
  %p.small *Email addresses are only visible to administrators for privacy

  = link_to 'RSVP', new_attendee_path
  = link_to 'Home', root_path
