/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 // require bootstrap
 // require leaflet
 // require angular-material
 // *= require_tree .
 // *= require_self
*/

@import 'bootstrap';
// @import 'buttons';

body {
    background: #DD5B47;
}


.center-table {
  margin: 0 auto !important;
  float: none !important;
}


table td, th {
  text-align: center;
}

table {
  min-width: 320px;
}

td {
  padding: 0 10px;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  text-align: center;
}

.md-button.md-fab {
  line-height: 5.6rem;
  min-width: 0;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
}
